### Load Data

In [1]:
import pandas as pd

In [2]:
df =pd.read_csv("Data/raw/rozee_jobs.csv")
df.head()

,Title,Salary,Job Type,Job Location,Functional Area,Career Level,Apply Before,Minimum Experience,Minimum Education,Gender,Age,Skills
0,Order Fulfillment Manager,"PKR. 30,000 - 60,000/Month",Full Time/Permanent,"Lahore,\n ...",Retail,Experienced Professional,3-Jan-25,2 Years,Intermediate/A-Level,Male,NaN,"Team Building, Order Tracking, Order Processin..."
1,Enterprise Business Development Manager,NaN,Full Time/Permanent,"Lahore,\n ...",NaN,NaN,19-Jan-25,3 Years,NaN,No Preference,NaN,"Relationship Building, Sales Acumen, Market Re..."
2,Video Editor,"PKR. 30,000 - 30,000/Month",Full Time/Permanent,"Karachi,\n ...",NaN,NaN,19-Jan-25,1 Year,NaN,No Preference,NaN,Video Editor
3,Branch in Charge (Patokki),"PKR. 60,000 - 60,000/Month",Full Time/Permanent,"Patoki,\n ...",NaN,NaN,19-Jan-25,3 Years,NaN,No Preference,NaN,"Customer Service, Problem Solving, Communicati..."
4,Senior PHP Developer,NaN,Full Time/Permanent,"Lahore,\n ...",NaN,NaN,19-Jan-25,3 Years,NaN,No Preference,NaN,"PHP, MySQL, Javascript, Laravel, HTML, CSS, Gi..."

### Rename columns

In [3]:
df = df.rename(columns={
    "Title": "job_title",
    "Salary": "salary",
    "Job Type": "employment_type",
    "Job Location": "city",
    "Functional Area": "domain",
    "Career Level": "career_level",
    "Apply Before": "apply_deadline",
    "Minimum Experience": "min_experience",
    "Minimum Education": "min_education",
    "Gender": "gender",
    "Age": "age",
    "Skills": "skills"
})

### Clean experience

In [4]:
pip install numpy pyodbc sqlalchemy

Requirement already satisfied: numpy in c:\users\mairaj\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: pyodbc in c:\users\mairaj\anaconda3\lib\site-packages (5.1.0)
Requirement already satisfied: sqlalchemy in c:\users\mairaj\anaconda3\lib\site-packages (1.4.54)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mairaj\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
print(df.columns)

Index(['job_title', 'salary', 'employment_type', 'city', 'domain',
       'career_level', 'apply_deadline', 'min_experience', 'min_education',
       'gender', 'age', 'skills'],
      dtype='object')

In [6]:
import re

def clean_exp(x):
    if pd.isna(x):
        return None

    x = str(x).lower()

    if "fresh" in x or "less" in x:
        return 0

    numbers = re.findall(r'\d+', x)

    if len(numbers) == 0:
        return None
    elif len(numbers) == 1:
        return int(numbers[0])
    else:
        # agar range ho (e.g. 3-5 years) to average le lo
        return int(sum(map(int, numbers)) / len(numbers))

In [7]:
df["min_experience"] = df["min_experience"].apply(clean_exp)

In [8]:
df["min_experience"].value_counts().head(10)

min_experience
1.0     165
2.0     154
3.0     140
0.0     140
5.0      69
4.0      36
10.0     15
8.0       8
7.0       6
6.0       6
Name: count, dtype: int64

### Experience level

In [9]:
def exp_level(x):
    if x is None:
        return None
    if x <= 1:
        return "Junior"
    elif x <= 4:
        return "Mid"
    else:
        return "Senior"

df["experience_level"] = df["min_experience"].apply(exp_level)

### Clean salary

In [10]:
import re

def clean_salary(val):
    if pd.isna(val):
        return pd.Series([None, None])
    nums = re.findall(r'\d+', str(val))
    if len(nums) >= 2:
        return pd.Series([int(nums[0]), int(nums[1])])
    return pd.Series([None, None])

df[["salary_min", "salary_max"]] = df["salary"].apply(clean_salary)

### Clean City Colunm

In [11]:
df["city"] = df["city"].str.title().str.strip()

### Save cleaned file

In [12]:
df.to_csv("Data/cleaned/jobs_cleaned.csv", index=False)
print("Saved successfully")

Saved successfully

In [13]:
df.head()

,job_title,salary,employment_type,city,domain,career_level,apply_deadline,min_experience,min_education,gender,age,skills,experience_level,salary_min,salary_max
0,Order Fulfillment Manager,"PKR. 30,000 - 60,000/Month",Full Time/Permanent,"Lahore,\n ...",Retail,Experienced Professional,3-Jan-25,2.0,Intermediate/A-Level,Male,NaN,"Team Building, Order Tracking, Order Processin...",Mid,30.0,0.0
1,Enterprise Business Development Manager,NaN,Full Time/Permanent,"Lahore,\n ...",NaN,NaN,19-Jan-25,3.0,NaN,No Preference,NaN,"Relationship Building, Sales Acumen, Market Re...",Mid,NaN,NaN
2,Video Editor,"PKR. 30,000 - 30,000/Month",Full Time/Permanent,"Karachi,\n ...",NaN,NaN,19-Jan-25,1.0,NaN,No Preference,NaN,Video Editor,Junior,30.0,0.0
3,Branch in Charge (Patokki),"PKR. 60,000 - 60,000/Month",Full Time/Permanent,"Patoki,\n ...",NaN,NaN,19-Jan-25,3.0,NaN,No Preference,NaN,"Customer Service, Problem Solving, Communicati...",Mid,60.0,0.0
4,Senior PHP Developer,NaN,Full Time/Permanent,"Lahore,\n ...",NaN,NaN,19-Jan-25,3.0,NaN,No Preference,NaN,"PHP, MySQL, Javascript, Laravel, HTML, CSS, Gi...",Mid,NaN,NaN

In [14]:
df[["salary_min", "salary_max"]].head()

   salary_min  salary_max
0        30.0         0.0
1         NaN         NaN
2        30.0         0.0
3        60.0         0.0
4         NaN         NaN

In [16]:
print(df.salary_min)

0       30.0
1        NaN
2       30.0
3       60.0
4        NaN
        ...
1054    40.0
1055    50.0
1056    40.0
1057     NaN
1058    30.0
Name: salary_min, Length: 1059, dtype: float64